pandas
numpy
streamlit
plotly
pydot
Pillow==9.0.1
selenium
tensorflow==2.12.0
fastcore
matplotlib
opencv-python
boto3
awscli
pyserial
pyusb
docker

# Dev
pytest
coverage
robotframework
robotframework-seleniumlibrary
